.Carousel {
    width: 960px;
    height: 278px;
  
   display: flex;
    border-radius: 2px;
    background-color: #8f8f8f; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
  }
  .Carousel.Item {
    width: auto;
    height: auto; 
    display: flex;
    border-radius: 2px;
    background-color: #8f8f8f; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
  }
