.reklam{
    width: 960px;
  height: 285px;
  margin: 20px 100px 20px 20px;
  padding: 42px 528px 61px 63px;
  object-fit: contain;
  background-image: url("../components/images/commercialImages/reklam.svg");
}