.Footer {
    width: auto;
    height: 811px;
    ;
    padding: 26px 93px 31px 100px;
    background-color: rgb(39, 39, 39);
}

.mainsection {
    width: 1440px;
}

.seturfootericon {
    width: 114px;
    height: 37px;
    object-fit: contain;
    margin-bottom: 20px;

}

.socialmedia {
    width: auto;
    height: 90px;

    background-color: rgb(218, 218, 218);

}

.facebookicon {
    width: 50px;
    height: 50px;
    margin: 0 15px 0 0;
    object-fit: contain;
}

.appledownload {
    width: 156px;
    height: 42px;

    object-fit: contain;
}

.appleLogoMargin {
    margin-left: 440px;
}

.androiddownload {
    width: 156px;
    height: 42px;

    
    object-fit: contain;
}

.androidLogoMargin {
    margin-left: 33px;
}


.CardGroup {
    width: 30px;
}

.whatsappCard {
    width: 0px;
    height: 62px;
    margin: 0 20px 23px 863px;
    padding: 12px 25px;
    border-radius: 2px;
    background-color: darkgray;
}

.callCenterCard {
    width: 250px;
    height: 62px;
    margin: 0 20px 23px 863px;
    padding: 12px 25px;
    border-radius: 2px;
    background-color: darkgray;
}

.Whatsapp {
    width: 62px;
    height: 18px;
    margin: 0px 0 0 11px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5cc85c;
}

.callCenter {
    width: 85px;
    height: 18px;
    margin: 0 0 0 10px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

.whatsappNumber {
    width: 100px;
    height: 20px;
    font-family: SourceSansPro;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5cc85c;
}

.callCenterNumber {
    width: 66px;
    height: 20px;
    font-family: SourceSansPro;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

.whatsappCardBody {
    width: 140px;
    height: 62px;
    position: relative;
    background-image: url("../components/images/footerImages/whatsapp.svg");
    background-color: dimgrey;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;

}


.callCenterCardBody {

    background-image: url("../components/images/footerImages/icon-phone.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-color: dimgrey;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
}

.oteller {
    width: 74px;
    height: 24px;
    margin: 0 30px 20px 0;
    color: rgb(255, 255, 255);
    font-family: SourceSansPro;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #fff;
}

.otelTemaları {
    width: 170px;
    height: 24px;
    margin: 0 30px 20px 0;
    color: rgb(255, 255, 255);
    font-family: SourceSansPro;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #fff;
}

.digerHizmetlerimiz {
    width: 250px;
    height: 24px;
    margin: 0 30px 20px 0;
    color: rgb(255, 255, 255);
    font-family: SourceSansPro;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #fff;
}


.footerSubtitleColor {
    color: white;
}

.rightarrowicon {
    width: 20px;
    height: 20px;
    margin: 0 0 0 5.9px;
    object-fit: contain;
}