.DesktopHotelCardAndUpFilterComponents{
   
    display:none;
    padding: 10px;
}
.HotelCardMobile{
    width: auto;
   
}


@media(min-width:1200px){
    .DesktopHotelCardAndUpFilterComponents{
        width: auto;
        height: auto;
        display:revert
    }
    .HotelCardMobile{
        display:none
    }
}
@media(max-width:1199px){
    .DesktopHotelCardAndUpFilterComponents{
        display:none;
    }
    .HotelCardMobile{
        display:revert;
    }
}
