.DesktopHotelCardAndUpFilterComponents {
   
    display: none;
    padding: 10px;
}
.DesktopHotelCard{
    min-width: 1200px;
    min-height: 330px;
    width: 100%;
}
/*  style={{ minWidth: '1200px', minHeight:'22rem'}} */

@media(max-width:1199px) {
    .DesktopHotelCardAndUpFilterComponents {
        display: none;
    }

    .HotelCardMobile {
        width: auto;
        height: 625px;     
        display: flex;
        justify-content: center;
    }
}
@media(min-width:1200px) {
    .DesktopHotelCardAndUpFilterComponents {
      
        width: auto;
        height: auto;
        display: revert
    }

    .HotelCardMobile {
        display: none
    }
}

