.HotelCard{
    display:none;
    padding: 10px;
}

@media(min-width:1200px){
    .HotelCard{
        display:revert
    }
    .HotelCardMobile{
        display:none
    }
}
@media(max-width:1200px){
    .HotelCardMobile{
        display:revert
    }
    .HotelCard{
        display:none
    }
}