.DesktopHotelCardAndUpFilterComponents{
    display:none;
    padding: 10px;
}
.HotelCardMobile{
    width: auto;
    justify-content: center;
    display: flex;
}


@media(min-width:1200px){
    .DesktopHotelCardAndUpFilterComponents{
        display:revert
    }
    .HotelCardMobile{
        display:none
    }
}
@media(max-width:1199px){
    .DesktopHotelCardAndUpFilterComponents{
        display:none;
    }
    .HotelCardMobile{
        display:revert;
    }
}
