
.MaskMobile {
    width: auto;
    justify-content: center;
   
    height: 625px;
    margin: 1px 0 20px;
    padding: 0 0 14px;
    border-radius: 2px;
    border: solid 1px #dedede;
    background-color: #fff;
}

.imgHotelMobile {
    width: 320px;
    height: 165px;
    margin: 0 0 12px;
    padding: 5px;
    object-fit: contain;
    border-radius: 2px;
    border: solid 1px #dedede;
}

.seturOneriyorRectangleMobile {
    width: 99px;
    height: 24px;
    margin: 93px 5px 0 5px;
    padding: 4px 6px 4px 4px;
    border-radius: 3.2px;
    background-color: #fff;
}

.seturOneriyorTextMobile {
    width: 90px;
    height: 14px;
    margin: 1px 0 1px 4px;
    font-family: SourceSansPro;
    font-size: 11.2px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.iconCheckMarkMobile {
    width: 16px;
    height: 16px;
    margin: 0 4px 0 -3px;
    object-fit: contain;
}
.hotelCardDetailMobileFlex{
    width: auto;
    object-fit: contain;
    
}

.cardDetailMobileForPadding {
    margin-left: 17px;
    width: auto;
}

.hotelLocationGuestRateMobile {
    width: auto;
    margin-top: 0;
    display: flex;
    direction: row;
}

.iconLocationMobile {
    width: auto;
    height: 16px;
    margin: 1px 4px 0 0;
    object-fit: contain;
}

.hotelLocationMobile {
    width: auto;
    height: 18px;
    margin: 0 0 0 4px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.mukemmelTextMobile {
    width: 58px;
    height: 15px;
    margin: 0 0 2px 23px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000;
}

.guestCommentTextMobile {
    width: 81px;
    height: 13px;
    margin: 2px 0 0;
    font-family: SourceSansPro;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000;
}
.mukemmelAndCommentMobile{
    margin-top: -5px;
}

.GuestRateMobile {
    margin-left: 70px;
    display: flex;
    direction: row;
}

.greenRectangleMobile {
    width: 22px;
    height: 30px;
    margin: 0 0 0 5px;
    border-radius: 2px;
    background-color: #2fbd14;
}
.greenRectangleTextMobile{
    width: 22px;
    height: 30px;
    margin: 0 0 0 3px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.hotelNameMobile {
    width: 260px;
    height: 40px;
    margin: 5px 0 5px 2px;
    font-family: SourceSansPro;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292a2c;
}

.ultraHerSeyDahilMobile {
    width: 120px;
    height: 18px;
    margin: 5px 140px 15px 2px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #292a2c;
}

.bidikMobile {
    width: 19px;
    height: 3px;
    margin: 15px 241px 0 2px;
    border-radius: 2.6px;
    background-color: #fa5851;
}

.ucretsizIptalRectangleMobile {
    width: 91px;
    height: 22px;
    margin: 13px 83px 7px 15px;
    padding: 3px 4px 4px;
    border-radius: 2px;
    background-color: rgba(4, 169, 133, 0.1);
}

.ucretsizIptalTextMobile {
    width: 83px;
    height: 15px;
    margin: 1px 4px 0 0;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #04a985;
}

.iconInfoMobile {
    width: 14px;
    height: 14px;
    margin: -3px 0 0 4px;
    object-fit: contain;
}

.yuzdeOnbesRectangleMobile {
    width: 109px;
    height: 30px;
    margin: 7px 65px 8px 15px;
    padding: 7px 19px 8px 20px;
    opacity: 0.9;
    border-radius: 2px;
    border:dashed  1px #2fbd14;
    background-color: #e0f7dc;
}

.yuzdeOnbesTextMobile {
    width: 90px;
    height: 15px;
    margin-left: -12px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2fbd14;
}

.worldCardRectangleMobile {
    width: 136px;
    height: 47px;
    margin: 8px 38px 10px 15px;
    padding: 8px 7px 5px 10px;
    border-radius: 2px;
    border: dashed 0.75px #682a7a;
    background-color: #fff;
}

.worldCardLogoMobile {
    width: 75px;
    height: 12px;
    margin: 2px 4px 2px 0;
    object-fit: contain;
    background-color: #ffffff;
}

.eOzelTextMobile {
    width: 120px;
    height: 18px;
    margin: 0 0 16px 0px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #682a7a;
}

.onIkıTaksitMobile {
    width: 90px;
    height: 18px;
    margin: 2px 29px 0 0;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #682a7a;
}
.yetiskinOteliTextMobile {
    width: 82px;
    height: 18px;
    margin: 0 10px 0 15px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
}

.balayıOtelTextMobile {
    width: 73px;
    height: 18px;
    margin: 0 10px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
}

.cocukDostuTextMobile {
    width: 80px;
    height: 18px;
    margin: 0 0 0 20px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
}

.OzellikRectangle {
    width: auto;
    height: auto;
    border-color: transparent;
    display: flex;
    direction: row;
    margin-left: 10 px;
    margin-top: -1px;

}

.acikHavuzRectangleMobile {
    width: 108px;
    height: 36px;
    margin: 0 10px 0 0;
    padding: 8px 8px 8px 8px;
    border-radius: 4px;
    background-color: #f7f7f7;
}

.iconPoolMobile {
    width: 20px;
    height: 20px;
    margin: 0 8px 0 -10px;
    object-fit: contain;
}

.acikHavuzTextMobile {
    width: 100px;
    height: 18px;
    margin: 1px 0 1px 8px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
}

.spaRectangleMobile {
    width: 67px;
    height: 36px;
    margin: 0 10px;
    padding: 8px 8px 8px 8px;
    border-radius: 4px;
    background-color: #f7f7f7;
}

.spaTextMobile {
    width: 73px;
    height: 18px;
    margin: 1px 0 1px 8px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
}

.iconSpaMobile {
    width: 20px;
    height: 20px;
    margin: 0 8px 0 -5px;
    object-fit: contain;
}

.plajRectangleMobile {
    width: 74px;
    height: 36px;
    margin: 0 10px;
    padding: 8px 8px 8px 8px;
    border-radius: 4px;
    background-color: #f7f7f7;
}

.plajTextMobile {
    width: 70px;
    height: 18px;
    margin: 1px 0 1px 8px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
}

.hopiRectangleMobile {
    width: 238px;
    height: 36px;
    margin: 20px 10px 12px 15px;
    padding: 8px 8px 9px;
    border-radius: 2px;
    border: solid 1px #dedede;
    background-color: #fff;
}

.hopiLogoMobile {
    width: 20px;
    height: 19px;
    margin: 0 4px 0 0;
    object-fit: contain;
}

.hopiTextMobile {
    width: 254px;
    height: 18px;
    margin: 1px 0 0 px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292a2c;
}

.hopiBigRectangleMobile {
    display: flex;
    margin-top: -15px;
}

.hopiRectangle2Mobile {
    width: 31px;
    height: 36px;
    margin: 20px 26px 12px 10px;
    padding: 9px 8px;
    border-radius: 2px;
    border: solid 1px #dedede;
    background-color: #fff;
}

.hopiArtı2TextMobile {
    width: 15px;
    height: 18px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1b75e2;
}

.oteliSecButton {
    width: 290px;
    height: 40px;
    margin: 0px 15px 0;
    padding: 11px 117px 11px 118px;
    border-radius: 2px;
    border-color: transparent;
    box-shadow: 0 10px 30px 0 rgba(255, 65, 57, 0.5);
    background-color: #e2231b;
}
.oteliSecButtonText{
    width: 55px;
  height: 18px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}


.hotelCardMiddleSectionMobile{
    display: flex;
    direction: column;
}

.indirimsizTutarMobile {
    width: 66px;
    height: 15px;
    margin: 0 0 2px 50px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: right;
    color: #b6b5b5;
}
.hotelPriceMobile {
    width: 90px;
    height: 46px;
    margin: 0px 3px 17px 7px;
    font-family: SourceSansPro;
    font-size: 37px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #292a2c;
}

.hotelPriceFractionMobile {
    width: 16px;
    height: 15px;
    margin: 7px 0 0 3px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292a2c;
}

.tlTextMobile {
    width: 13px;
    height: 15px;
    margin: -0px 0 5px 4px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292a2c;
}

.denBaslayanFiyatlarlaTextMobile {
    width: 116px;
    height: 15px;
    margin: -20px 0  4px;
    opacity: 0.75;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #292a2c;
}

.kacKisiKacGeceMobile {
    width: 63px;
    height: 15px;
    margin: 4px 0 0 53px;
    opacity: 0.75;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #292a2c;
}

.ucretDetaylarıMobile {
    width: 76px;
    height: 15px;
    margin: 0 0 0 25px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-underline-offset: 0.5px;
    letter-spacing: normal;
    color: #292a2c;
}

.iconInfoUcretDetaylarıMobile {
    width: 12px;
    height: 12px;
    margin: -1px 5px 1px 0;
    object-fit: contain;
}
