.DesktopNavBar {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  display: none;
}
.topBlackRectangle{
  width: 1440px;
  height: 5px;
  margin: -40px 0 0;
  object-fit: contain;
  background-color: var(--dark-grey);
}
.topBlackShape{
  width: 435px;
  height: 35px;
  margin: -66.5px 0 0 1005px;
  padding: 6px 6px 7px 103px;
  object-fit: contain;
  background-color: var(--dark-grey);
}


.MobileNavBar {
  flex-direction: row;
  display: flex;
  justify-content: last baseline;
}

@media(min-width:900px) {
  .DesktopNavBar {
    display: revert;
  }
  .MobileNavBar {
    display: none;
  }
}
.iconperson {
  width: 24px;
  height: 24px;
  margin: 0 20px 0 148px;
  object-fit: contain;
}
.iconhamburger {
  width: 24px;
  height: 24px;
  margin: 0 0 0 20px;
  object-fit: contain;
}


.navBarhorizontal {
  width: auto;
  margin-top: -30px;
  display: flex;
  flex-direction: row;
}

.navBarhorizontalInBlack {
  display: flex;
  flex-direction: row;
  margin-left: 390px;
}

.phoneIcon {
  width: 20px;
  height: 20px;
  margin: 1px 10px 0 0;
  object-fit: contain;
}

.phoneNumber {
  width: 66px;
  height: 20px;
  font-family: SourceSansPro;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.yetkiliAcenteler {
  width: auto;
  height: 18px;
  margin-left: 20px;
  margin-top: 2px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}

.seturServisTuristikAS {
  width: 87px;
  height: 21px;
  margin: 1px 0 0 20px;
  font-family: SourceSansPro;
  font-size: 8px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}

.navBarBackground {
  background-image: url("../components/NavBarIcons/topBlackRectangle.svg"), url("../components/NavBarIcons/topBlackShape.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}

.Setur-logo {
  margin-left: 100px;
  width: 112px;
  height: 36px;
  object-fit: contain;
  background-color: var(--tomato);
}

.Otel::after {
  display: none;
}

.Otel {
  width: 28px;
  height: 19px;
  margin: 0 32px 9px 62px;
  font-family: SourceSansPro;
  font-size: 15.4px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);

}

.Otel>a::after {
  color: #ffff;
}

.Tur>a::after {
  color: #ffff;
}

.Gemi>a::after {
  color: #ffff;
}

.Ucak>a::after {
  color: #ffff;
}

.Vize>a::after {
  color: #ffff;
}

.OzelCozumler>a::after {
  color: #ffff;
}

.Kampanyalar>a::after {
  color: #ffff;
}

.UyeOlGirisYap>a::after {
  color: #ffff;
}

.Tur {
  width: 23px;
  height: 19px;
  margin: 0 32px 9px;
  font-family: SourceSansPro;
  font-size: 15.4px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
  content: none
}

.Gemi {
  width: 35px;
  height: 19px;
  margin: 0 32px 9px;
  font-family: SourceSansPro;
  font-size: 15.4px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
}

.Ucak {
  width: 33px;
  height: 19px;
  margin: 0 32px 9px;
  font-family: SourceSansPro;
  font-size: 15.4px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
}

.Vize {
  width: 27px;
  height: 19px;
  margin: 0 28px 9px 32px;
  font-family: SourceSansPro;
  font-size: 15.4px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
}

.OzelCozumler {
  width: 95px;
  height: 19px;
  margin: 0 23px 9px 28px;
  font-family: SourceSansPro;
  font-size: 15.4px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);

}

.Kampanyalar {
  width: 89px;
  height: 19px;
  margin: 0 0 9px 23px;
  font-family: SourceSansPro;
  font-size: 15.4px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
}

.UyeOlGirisYap {
  width: 116px;
  height: 20px;

  margin: 0px 10px 0px 50px;
  font-family: SourceSansPro;
  font-size: 15.4px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: var(--dark-grey);
}

img {
  display: inline !important;
  width: 20%;
  vertical-align: top;
  height: auto;
  top: 0;
  left: 0;
}