.OtelCard {
  width: 960px;
  height: 305px;
  margin-left: 380px;
  margin: 20px 0px 100px 380px;
  padding: 0 19px 0 0;
  border-radius: 2px;
  border: solid 1px #dedede;
  background-color: #fff;
}

.ImageCard {
  width: 252px;
  height: 305px;
  image-orientation: from-image;

}

.OtelImg {
  width: 282px;
  height: 275px;

}
.cardBodyLocationAndGuestRate{
  display: flex;
  flex-direction: end;
  width: auto;
  height: auto;
}
.mukemmelMisafir{
  text-align: right;
  margin-left: 95px;
}
.mukemmel{
  width: auto;
  height: 15px;
  margin: 0 0 2px 23px;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000;

}
.misafirYorumu{
  width: 81px;
  height: 13px;
  margin: 2px 0 0;
  font-family: SourceSansPro;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000;
}

.yellowBack{
  width: 22px;
  height: 30px;
  margin: 0 0 0 5px;
  border-radius: 2px;
  background-color: #f7b500;
}
.textInYellow{
  width: 22px;
  height: 30px;
  margin: 0 0 0 5px;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.LocationIcon {
  width: 9px;
  height: 13px;
  background-color: var(--coral);
  margin-left: -60px;
}

.OtelAd {
  width: 462px;
  height: 23px;
  margin-left: -60px;
  margin-top: 10px;
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-grey);
}

.OtelLokasyon {
  width: 100px;
  height: 18px;
  margin: 0 0 0 4px;
  opacity: 0.6;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.UltraHerSeyDahil {
  width: auto;
  height: 18px;
  margin: 4px 75px 15px -60px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: var(--dark-grey);
}

.bidik {
  width: 36px;
  height: 6px;
  margin: 15px 82px 15px -60px;
  border-radius: 5px;
  background-color: #fa5851;
}

.havuzSpaPlaj {
  width: 400px;
  margin-left: -65px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.acikHavuzRectangle {
  width: 108px;
  height: 36px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f7f7f7;
  background-image: url("../components/images/otelCardIcons/poolIcon.svg");
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: center;

}

.acıkHavuz {
  width: 64px;
  height: 18px;
  margin: 1px 0 1px 22px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #525252;
}

.spaRectangle {
  width: 67px;
  height: 36px;
  margin-left: 15px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f7f7f7;
  background-image: url("../components/images/otelCardIcons/spaIcon.svg");
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: center;
}

.plajRectangle {
  width: 74px;
  height: 36px;
  margin-left: 15px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f7f7f7;
  background-image: url("../components/images/otelCardIcons/spaIcon.svg");
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: center;
}

.extrafeatures {
  width: 38px;
  height: 36px;
  margin-left: 15px;
  padding: 9px 8px;
  border-radius: 4px;
  background-color: #f7f7f7;

}
.extrafeaturestext{
  width: 22px;
  height: 18px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1b75e2;
}

.pricing{
  margin-left: 50px;
}
.SeturOneriyor{
  width: 135px;
  height: 30px;
  margin: 92px 22px 0 6px;
  padding: 5px 8px 5px 5px;
  border-radius: 4px;
  background-color: #fff;
}
.SeturOneriyorText{
  width: auto;
  height: 18px;
  margin: 1px 0 1px 5px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}
.checkMark{
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  object-fit: contain;
}