.verticalDivider {
    border-right: 1px dashed #333;
}

.pricing {
    width: auto;
    height: auto;
    margin-left: 60px;
}

.priceTag {
    width: 151px;
    height: 120px;
    margin: 3px 1px 2px 34px;
    padding: 0 0 0 35px;
}

.onbesIndirim {
    width: 129px;
    height: 32px;
    margin: 0 0 2px 20px;
    text-align: center;
    opacity: 0.9;
    border-radius: 2px;
    border: solid 0.5px #2fbd14;
    background-color: #e0f7dc;
}

.onbesIndirimText {
    width: 80px;
    height: 15px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2fbd14;
}

.euroPrice {
    width: 96px;
    height: 20px;
    margin: 2px 0 -5px 55px;
    font-family: SourceSansPro;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: right;
    color: var(--dark-grey);
}

.trPrice {
    width: auto;
    height: 45px;
    margin: 0px 3px 8px 50px;
    font-family: SourceSansPro;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: var(--dark-grey);
}

.trFiyatKusurat {
    width: auto;
    height: 15px;
    margin: 6px 0 10px 2px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--dark-grey);
}

.trKur {
    width: 53px;
    height: 15px;
    margin-top: -8px;
    margin-bottom: 10px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--dark-grey);
}

.rowC {
    width: auto;
    display: flex;
    flex-direction: row;
}

.denBaslayanFiyat {
    width: 116px;
    height: 15px;
    margin: -10px 0 0px 40px;
    opacity: 0.75;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
   
    color: var(--dark-grey);
}

.ikiYetiskinUcGece {
    width: 86px;
    height: 15px;
    margin: 2px 0 0 65px;
    opacity: 0.75;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: var(--dark-grey);
}

.OteliSecButton {
    width: 155px;
    height: 40px;
    padding: 11px 34px;
    border-radius: 3px;
    margin-top: 60px;
    margin-left: 60px;
    border-color: #ffff;
    box-shadow: 0 10px 30px 0 #e2231b;
    background-color: #e2231b;
}

.OteliSec {
    width: auto;
    height: auto;
    margin-bottom: 0 0 20px 0;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;

}

.worldCardRectangle {
    width: auto;
    height: 47px;
    margin: 0px 1px 6px 20px;
    padding: 8px 21px 5px 25px;
    border-radius: 2px;

    border: solid 0.5px #682a7a;
    background-color: #fff;
}

.worldCardLogo {
    width: auto;
    height: 12px;
    margin: -8px 4px 2px 0;
    object-fit: contain;
}

.worldCardTextOzel {
    width: 40px;
    height: 18px;
    margin-bottom: 15px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #682a7a;
}

.worldCardText12Taksit {
    width: 90px;
    height: 18px;
    margin: -5px 59px 0 0;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #682a7a;
}

.ucretsizIptalRectangle {
    width: 98px;
    height: auto;
    margin: 6px 1px 3px 120px;
    padding: 4px 4px 3px;
    border-radius: 2px;
    background-color: rgba(4, 169, 133, 0.1);
}

.ucretsizIptal {
    width: auto;
    height: 15px;
    margin: 0 4px 0 0;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #04a985;
}

.infoIcon {
    width: 14px;
    height: 14px;
    margin: 0 0 1px 4px;
    object-fit: contain;
}

.ucretDetaylariRectangle{
    width: auto;
    margin-left: 60px;
    display:flex; flex-direction:row;
    text-align: right;
}
.infoIconGrey{
    width: 12px;
    height: 12px;
    margin: 0 -0px 1px 0;
    object-fit: contain;
}
.ucretDetaylari{
    width: auto;
    height: 15px;
    
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--dark-grey);
  
}