.pricing {
    width: auto;
    height: auto;
    margin-left: 60px;
}

.priceTag {
    width: 151px;
    height: 120px;
    margin: 3px 1px 2px 34px;
    padding: 0 0 0 35px;
}

.worldCardRectangle {
    width: auto;
    height: 47px;
    margin: 20px 1px 6px 20px;
    padding: 8px 21px 5px 25px;
    border-radius: 2px;
    border: dashed 1.5px #dda2ee;
    background-color: #fff;
    align-items: top;
}

.worldCardLogo {
    width: 75px;
    height: 12px;
    margin: 2px 4px 2px 0;
    object-fit: contain;
    background-color: #ffffff;
}

.worldCardTextOzel {
    width: auto;
    height: auto;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #682a7a;
}

.worldCardText12Taksit {
    width: 90px;
    height: 18px;
    margin-top: -10px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #682a7a;
}

.rowHorizontal {
    margin-top: 10px;

    width: auto;
    display: flex;
    flex-direction: row;
}


.ucretsizIptalRectangle {
    width: auto;
    height: auto;
    margin: 6px 1px 3px 94px;
    padding: 4px 4px 3px;
    border-radius: 2px;
    background-color: rgba(4, 169, 133, 0.1);
    align-items: center;

}

.priceAlign {
    margin-left: 60px;
    padding-right: 5px;
}

.ucretsizIptal {
    width: auto;
    height: auto;
    margin: 0 4px 0 0;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #04a985;
}

.infoIcon {
    width: auto;
    height: auto;
    margin: 0 0 1px 4px;
    object-fit: contain;
}

.onbesIndirim {
    width: 129px;
    height: 32px;
    margin: 0 0 2px 20px;
    text-align: center;
    opacity: 0.9;
    border-radius: 2px;
    border: dashed 0.5px #72ec5a;
    background-color: #e0f7dc;
}

.onbesIndirimText {
    width: 80px;
    height: 15px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2fbd14;
}

.euroPrice {
    width: 96px;
    height: 20px;
    margin: 2px 0 -5px 55px;
    font-family: SourceSansPro;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: right;
    color: var(--dark-grey);
}

.trPrice {
    width: auto;
    height: 45px;
    margin: 0px 3px 8px 50px;
    font-family: SourceSansPro;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: var(--dark-grey);
}

.trFiyatKusurat {
    width: auto;
    height: 15px;
    margin: 6px 0 10px 2px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--dark-grey);
}

.trKur {
    width: 53px;
    height: 15px;
    margin-top: -8px;
    margin-bottom: 10px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--dark-grey);
}



.denBaslayanFiyat {
    width: 116px;
    height: 15px;
    margin: -10px 0 0px 40px;
    opacity: 0.75;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--dark-grey);
}

.ikiYetiskinUcGece {
    width: 86px;
    height: 15px;
    margin: 3px 0 0 65px;
    opacity: 0.75;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: var(--dark-grey);
}

.ucretDetaylariRectangle {
    width: auto;
    margin-right: -50px;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    text-align: right;
}

.infoIconGrey {
    width: 12px;
    height: 12px;
    margin: 0 0 1px 65px;
    object-fit: contain;
}

.ucretDetaylari {
    width: auto;
    height: 15px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--dark-grey);

}

.OteliSecButton {
    width: 165px;
    height: 40px;
    margin: -10px -90px 20px 45px;
    padding: 11px 55px;
    border-radius: 2px;
    border-color: transparent;
    box-shadow: 0 10px 30px 0 #e2231b;
    ;
    background-color: #e2231b;
    display: flow-root;
    flex-direction: column;
}

.OteliSecButtonText {
    width: 60px;
    height: auto;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}