.OtelCard {
  width: 960px;
  height: 305px;
  margin-left: 380px;
  margin: 20px 0px 100px 380px;
  padding: 0 19px 0 0;
  border-radius: 2px;
  border: solid 1px #dedede;
  background-color: #fff;
}
.cardBodyLocationAndGuestRate {
  margin-top: 10px;
  display: flex;
  flex-direction: end;
  width: auto;
  height: auto;
}
.LocationIcon {
  width: 16px;
  height: 16px;
  margin: 2px 4px 0 10px;
  object-fit: contain;
}

.OtelLokasyon {
  width: auto;
  height: 18px;
  margin: 0 140px 0 4px;
  opacity: 0.6;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.mukemmelMisafir {
  text-align: right;
  margin-left: 95px;
}

.mukemmel {
  width: 58px;
  height: 15px;
  margin: 0 0 2px 23px;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000;

}

.misafirYorumu {
  width: 81px;
  height: 13px;
  margin: 2px 0 0 ;
  font-family: SourceSansPro;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000;
}

.yellowBack {
  width: 22px;
  height: 30px;
  margin: 0 0 0 5px;
  border-radius: 2px;
  background-color: #f7b500;
}

.textInYellow {
  width: 22px;
  height: 30px;
  margin: 0 0 0 5px;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}


.OtelAd {
 
  width: 462px;
  height: 23px;
  margin: 4px 20px 5px;
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-grey);
}



.UltraHerSeyDahil {
  width: auto;
  height: 18px;
  margin: 5px 75px 15px 20px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: var(--dark-grey);
}

.bidik {
  width: 36px;
  height: 6px;
  margin: 15px 82px 15px 20px;
  border-radius: 5px;
  background-color: #fa5851;
}

.balayiYetiskinCocuk{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content:wrap;
}

.havuzSpaPlaj {
  width: 108px;
  height: 36px;
  margin: 39px 10px 16px 20px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
}

.acikHavuzRectangle {
  
  width: 108px;
  height: 36px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f7f7f7;
  background-image: url("../components/images/otelCardIcons/poolIcon.svg");
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: center;

}

.acıkHavuz {
  width: 64px;
  height: 18px;
  margin: 1px 0 1px 18px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #525252;
}

.spaRectangle {
  width: 67px;
  height: 36px;
  margin: 39px 10px 16px 7px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f7f7f7;
  background-image: url("../components/images/otelCardIcons/spaIcon.svg");
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: center;
}

.plajRectangle {
  width: 74px;
  height: 36px;
  margin: 39px 10px 16px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f7f7f7;
  background-image: url("../components/images/otelCardIcons/spaIcon.svg");
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: center;
}

.extrafeatures {
  width: 38px;
  height: 36px;
  margin: 39px 47px 16px 0;
  padding: 9px 8px;
  border-radius: 4px;
  background-color: #f7f7f7;

}

.extrafeaturestext {
  width: 22px;
  height: 18px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1b75e2;
}

.hopiDiv {
  width: 238px;
  height: 36px;
  margin: 14px 10px 20px 20px;
  padding: 8px;
  border-radius: 2px;
  border: solid 1px #dedede;
  background-color: #fff;

}

.hopiText {
  width: 194px;
  height: 18px;
  margin: 1px 0 1px 8px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-grey);
}

.hopiLogo {
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
  object-fit: contain;
}

.hopiEkstra {
  width: 31px;
  height: 36px;
  margin: 14px 0 20px 10px;
  padding: 9px 8px;
  border-radius: 2px;
  border: solid 1px #dedede;
  background-color: #fff;

}

.hopiEkstraSayi {
  width: 15px;
  height: 18px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--clear-blue);
}

.hopiRectangle {
  width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}